.table {
    width: 100%;
    border-collapse: collapse;
}

.table th, .table td {
    padding: 10px;
    text-align: left;
}

.table th {
    background-color: #C44F3B; 
    color: white;
}

.table tbody tr:nth-child(odd) {
    background-color: #FDE6E2; 
}

.table tbody tr:nth-child(even) {
    background-color: #f8f9fa;
}

.table td:nth-child(4) {
    text-align: right;
}

.btn-sm {
    padding: 8px 11px;
    margin: 0 5px; 
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Botón de Editar (lápiz) */
.btn-warning:hover {
    background-color: #e0a800;
    border-color: #d39e00;
    color: white;
}

/* Botón de Eliminar (basura) */
.btn-danger:hover {
    background-color: #c82333;
    border-color: #bd2130;
    color: white;
}

.btn-sm i {
    font-size: 14px;
}


/* Estils dels botons d'acció */
.btn-warning {
    background-color: #ffa726;
}

.btn-danger {
    background-color: #e53935;
}