.caja {
    margin: 0;
    padding: 20px;
    background-size: cover;  
    background-position: center;  
    background-repeat: no-repeat;  
    background-attachment: fixed;  
    background-image: url('../../img/biblio.avif');
}

.login-container {
    max-width: 620px;
    margin: 40px auto;
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px #000000;
}

.login-title {
    color: #C44F3B;
    font-size: 2em;
}

.btn {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

.btn-primary {
    background-color: #C44F3B; 
    margin-top: 20px;
    transition: background-color 0.4s ease, color 0.4s ease;
}

.btn-primary:hover {
    background-color: #582017; 
}

.form-book {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 9px;
    margin-top: 21px;
    color: #000000;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    border-color: #cfc9cf;
}

.register-prompt {
    text-align: center;
    margin-top: 20px;
    font-size: 1.2rem;
}

.register-prompt a {
    color: #C44F3B;
    font-weight: bold;
    text-decoration: none;
}

.register-prompt a:hover {
    text-decoration: underline;
}