/* Andreu Sánchez Guerrero */

@import url(auth/login/login.css);
@import url(auth/register/register.css);
@import url(components/alert/alert.css);
@import url(components/header/header.css);
@import url(components/footer/footer.css);
@import url(components/books/books.css);
@import url(components/form/from.css);
@import url(components/pagination/pagination.css);

body {
    font-family: Arial, sans-serif;
    background-image: url(img/biblio.avif);
    margin: 0;
    padding: 20px;
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;  
    background-attachment: fixed;
}

h2 {
    color: #C44F3B;
    font-size: 2em;
}

.container {
    max-width: 720px;
    margin: 30px auto;
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px #000000;
}

#margin {
    margin-top: 50px;
}

.btn {
    padding: 8px 13px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}