/* Andreu Sánchez Guerrero */

@import url(auth/login/login.css);
@import url(auth/register/register.css);
@import url(components/alert/alert.css);
@import url(components/header/header.css);
@import url(components/footer/footer.css);
@import url(components/books/books.css);
@import url(components/form/from.css);
@import url(components/pagination/pagination.css);

body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: josefin sans, sans-serif;
    background-image: url(assets/img/biblio.png);
    padding: 20px;
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;  
    background-attachment: fixed;
}

.container {
    max-width: 100%;
    margin: 0 auto;
    background: #203542;
    padding: 0px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 100%;
}

@media (min-width: 1024px) {
    .container {
        max-width: 900px;
    }
}

#margin {
    margin-top: 50px;
}

.btn {
    padding: 8px 13px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}